{% extends xidea_template('book_main') %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'book_view.title'|trans({'%name%':model.name}) }}</h1>
{% endblock %}
{% block bundle_main %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'book_view.details.title'|trans }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                          <tr>
                            <th scope="row">
                              <code>{{ 'book.name'|trans }}</code>
                            </th>
                            <td>{{ model.name }}</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>{{ 'book.description'|trans }}</code>
                            </th>
                            <td>{{ model.description }}</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>{{ 'book.created_at'|trans }}</code>
                            </th>
                            <td>{{ model.createdAt|date }}</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>{{ 'book.updated_at'|trans }}</code>
                            </th>
                            <td>{{ model.updatedAt|date }}</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code><code>{{ 'book.authors'|trans }}</code></code>
                            </th>
                            <td>
                                <ul>
                                    {% for author in model.authors %}
                                        <li>{{ author.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}
